<h1>Convert <%= @from %></h1>

<p>Go <a href="/forex">back</a>.</p>

<ul>
  <% @currencies.each do |currency| %>
    <li>
      <a href="/forex/<%= @from %>/<%= currency %>">
        Convert 1 <%= @from %> to <%= currency %>...
      </a>
    </li>
  <% end %>
</ul>